
body {
    margin: 0;
    background-color: #fffff8;
    font-family: "Raleway", serif;
    color: #6e6157;
    font-size: 18px;
    margin-top: 50px;
}

.btn {
    font-family: "Raleway", serif;
    background: linear-gradient(45deg, #5BDCD5,#4C9A8A, #5BDCD5, #F3B260);
    background-size: 200% 200%; 
    border: #6e6157 1px solid;
    color: #fffff8;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;    
    animation: gradient 5s ease infinite;
    width: 250px;
  }
  .btn a {
    color: #fffff8;
    text-decoration: none;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .about-tarif {
    display: flex;
    margin-left: 10%;
    gap: 50px;
  }
  .about-tarif h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
  }
  .tarif-content {
    margin-left: 10%;
    width: 80%;
  }
  .back-to-tarifs {
    font-family: "Raleway", serif;
    background: transparent;
    text-transform: uppercase;
    border: 2px solid #2b6070;
    color: #2b6070;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px;
  }
  .back-to-tarifs:hover {
    background: linear-gradient(45deg, #5BDCD5,#4C9A8A, #5BDCD5);
  }
  .back-to-tarifs-cont {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

/* footer */
.footer-cont {
background-color: #2b6070;
display: flex;
justify-content: center;
gap: 20px;
padding: 30px;
}
.footer-cont a:hover img {
  filter: drop-shadow(0 0 15px #5BDCD5);
  transition: all 0.5s ease;
}

.floating-button {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
  background-color: transparent;
}

.floating-button img {
 width: 60px;
  border-radius: 50%; 
  transition: transform 0.3s ease; 
}

.floating-button img:hover {
  transform: scale(1.1); 
}


.hr-line {
  align-self: center;
}




@media (max-width: 760px) {
    .about-tarif {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        gap: 5px;
        margin-bottom: 50px;
        text-align: center;
      }
}